In [1]:
import pandas as pd
import json
import requests
from config import password
import os
import pandas as pd
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.orm import sessionmaker
from sqlalchemy import inspect
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.exc import IntegrityError

## Deliverable 1: Extract
----
### Option 1: Use Python Dictionary Methods

1. Import the `backer_info.csv` file into a DataFrame.
2. Iterate through the DataFrame and convert each row to a dictionary. 
3. Iterate through each dictionary and do the following:
    * Extract the dictionary values from the keys using Python list comprehension.
    * Add the values for each row to a new list. 
4. Create a new DataFrame with the retrieved data. 
5. Export the DataFrame as `backers_data.csv`.

In [2]:
# Get the backers_info from the crowdfunding_info sheet. 
pd.set_option('max_colwidth', 400)
backer_info = pd.read_csv("backer_info.csv")
backer_df = pd.DataFrame(backer_info)
backer_df.head()

                                                                                          backer_info
0        {"backer_id": "av166", "cf_id": 968, "name": "Angelo Vincent", "email": "avincent@live.com"}
1        {"backer_id": "ha127", "cf_id": 563, "name": "Hubert Arnold", "email": "harnold@yandex.com"}
2          {"backer_id": "lg794", "cf_id": 65, "name": "Loris Goulet", "email": "lgoulet@yandex.com"}
3  {"backer_id": "tb566", "cf_id": 563, "name": "Teodora Brunelli", "email": "tbrunelli@outlook.com"}
4               {"backer_id": "lh506", "cf_id": 563, "name": "Lexie Hunt", "email": "lhunt@live.com"}

In [3]:
# Step 1: Load JSON data into DataFrame
backers_df = pd.json_normalize(backer_df['backer_info'].apply(pd.io.json.loads))
backers_df

     backer_id  cf_id              name                  email
0        av166    968    Angelo Vincent      avincent@live.com
1        ha127    563     Hubert Arnold     harnold@yandex.com
2        lg794     65      Loris Goulet     lgoulet@yandex.com
3        tb566    563  Teodora Brunelli  tbrunelli@outlook.com
4        lh506    563        Lexie Hunt         lhunt@live.com
...        ...    ...               ...                    ...
8170     st581     65   Serita Thebault   sthebault@yandex.com
8171     gf637    563   Glenn Foerstner   gfoerstner@yahoo.com
8172     rc983   1114       Robt Collin    rcollin@outlook.com
8173     cz381     65      Corina Zappa     czappa@outlook.com
8174     fg535     65     Freeman Gibbs     fgibbs@outlook.com

[8175 rows x 4 columns]

## Deliverable 2: Transform and Clean Data
----
1. Check the data types of the columns and convert the "cf_id" column to an integer, if necessary.
2. Split the name in the "name" column into first and last names, and add them to "first_name" and "last_name" columns in the DataFrame. 
3. Drop the "name" column in the DataFrame.
4. Place the columns in the following order; "backer_id", "cf_id", "first_name", "last_name" and "email".

In [4]:
# Check data types.
backers_df.dtypes

backer_id    object
cf_id         int64
name         object
email        object
dtype: object

In [5]:
# Convert cf_id to an integer if necessary.
backers_df["cf_id"] = pd.to_numeric(backers_df["cf_id"])
backers_df["cf_id"].dtypes

dtype('int64')

In [6]:
# Split the "name" column into "first_name" and "last_name" columns.
backers_df[["first_name", "last_name"]] = backers_df["name"].str.split(" ", n=1, expand=True)
backers_df

,backer_id,cf_id,name,email,first_name,last_name
0,av166,968,Angelo Vincent,avincent@live.com,Angelo,Vincent
1,ha127,563,Hubert Arnold,harnold@yandex.com,Hubert,Arnold
2,lg794,65,Loris Goulet,lgoulet@yandex.com,Loris,Goulet
3,tb566,563,Teodora Brunelli,tbrunelli@outlook.com,Teodora,Brunelli
4,lh506,563,Lexie Hunt,lhunt@live.com,Lexie,Hunt
...,...,...,...,...,...,...
8170,st581,65,Serita Thebault,sthebault@yandex.com,Serita,Thebault
8171,gf637,563,Glenn Foerstner,gfoerstner@yahoo.com,Glenn,Foerstner
8172,rc983,1114,Robt Collin,rcollin@outlook.com,Robt,Collin
8173,cz381,65,Corina Zappa,czappa@outlook.com,Corina,Zappa
8174,fg535,65,Freeman Gibbs,fgibbs@outlook.com,Freeman,Gibbs

In [7]:
#  Drop the name column
backers_df = backers_df.drop(columns = "name")
# Reorder the columns
backers_df = backers_df[["backer_id", "cf_id", "first_name", "last_name", "email"]]
backers_df.head(10)

  backer_id  cf_id first_name last_name                  email
0     av166    968     Angelo   Vincent      avincent@live.com
1     ha127    563     Hubert    Arnold     harnold@yandex.com
2     lg794     65      Loris    Goulet     lgoulet@yandex.com
3     tb566    563    Teodora  Brunelli  tbrunelli@outlook.com
4     lh506    563      Lexie      Hunt         lhunt@live.com
5     lh382    563    Lambert     Huber        lhuber@live.com
6     em444    563       Emmy     Morin        emorin@live.com
7     at582   1572    Armonda     Trani        atrani@live.com
8     id772   1911      Ilana      Duke      iduke@outlook.com
9     lw275     65     Leigha    Wright       lwright@live.com

In [8]:
# Export the DataFrame as a CSV file using encoding='utf8'.
backers_df.to_csv("backers.csv", index=False, encoding = "utf8")

In [9]:
directory = 'starting_csvs'
dataframe_dict = {}
# Loop through each file in the directory
for obj in [x for x in os.listdir(directory) if x not in '.DS_Store']:
    file_extension = os.path.splitext(obj)[1]
    file_path = directory + '/' + obj
    dict_key = os.path.splitext(obj)[0]
    if file_extension == '.xlsx':
        data_dict = pd.read_excel(file_path, sheet_name=None)
        data_list = []
        for key in data_dict:
            data_list.append(data_dict[key])
        data = pd.concat(data_list, ignore_index=True)
        dataframe_dict[dict_key] = data
    elif file_extension == '.csv':
        data = pd.read_csv(file_path)
        dataframe_dict[dict_key] = data
    else:
        raise ValueError(f"Unsupported file type: {file_extension}")

In [53]:
# Creating a connection to the PostgreSQL database using the password and the database name
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/crowdfunding')

In [54]:
# This cell automates database schema generation and inserts data into a postgres SQL database
#Loop through each file in dataframe_dict
for file_name, df in dataframe_dict.items():
    # Check if 'df' is empty
    if df.empty:
        continue

    # CLEANING
    df.columns = df.columns.to_series().apply(lambda x: x.strip().lower())
    #df.columns = df.columns.str.replace("[-\s\:]+", "_", regex=True)

    # CREATE DATABASE TABLE
    # Determine the data type of each column
    dtype_dict = {}
    for col in df.columns:
        if df[col].dtype == "int":
            dtype_dict[col] = "INTEGER"
        elif df[col].dtype == "float":
            dtype_dict[col] = "FLOAT"
        else:
            dtype_dict[col] = "TEXT"

    # Create SQL query to create the database table
    query = f"CREATE TABLE IF NOT EXISTS {file_name.split('.')[0]} ("
    for col in df.columns:
        query += f"{col} {dtype_dict[col]}, "
    query = query[:-2] + ");"

    # Execute SQL query to create the database table
    with engine.connect() as conn:
        conn.execute(query)

    # INSERT DATA INTO DATABASE TABLE
    try:
        df.to_sql(file_name.split('.')[0], engine, if_exists="append", index=False)
    except IntegrityError as e:
        print(f"Error inserting data into table {file_name.split('.')[0]}: {e}")
        continue

In [55]:
from sqlalchemy import create_engine, text

# Update table backers


# Create the campaign_backers table
create_table_query1 = """
    CREATE TABLE campaign_backers (
        backers_count INTEGER,
        cf_id INTEGER
    );
"""
with engine.connect() as connection:
    connection.execute(text(create_table_query1))

# Execute the first query
query1 = """
    INSERT INTO campaign_backers (backers_count, cf_id)
    SELECT COUNT(b.backer_id), c.cf_id
    FROM campaign AS c
    JOIN backers AS b
    ON c.cf_id = b.cf_id
    WHERE c.outcome = 'live'
    GROUP BY c.cf_id
    ORDER BY COUNT(b.backer_id) DESC;
    """
with engine.connect() as connection:
    connection.execute(text(query1))


# Create the backers_count_per_cfid table
create_table_query2 = """
    CREATE TABLE backers_count (
        backers_count INTEGER,
        cf_id INTEGER
    );
"""
with engine.connect() as connection:
    connection.execute(text(create_table_query2))

# Execute the second query
query2 = """
    INSERT INTO backers_count (backers_count, cf_id)
    SELECT COUNT(backer_id), cf_id
    FROM backers
    GROUP BY cf_id
    ORDER BY COUNT DESC;
    """
with engine.connect() as connection:
    connection.execute(text(query2))


# Create the notsorted_contacts_remaining_goal_amount table
create_table_query3 = """
    CREATE TABLE notsorted_contacts_remaining_goal_amount (
        goal NUMERIC,
        pledged NUMERIC,
        first_name VARCHAR(255),
        last_name VARCHAR(255),
        email VARCHAR(255)
    );
"""
with engine.connect() as connection:
    connection.execute(text(create_table_query3))

# Execute the third query
query3 = """
    INSERT INTO notsorted_contacts_remaining_goal_amount (goal, pledged, first_name, last_name, email)
    SELECT ca.goal, ca.pledged, co.first_name, co.last_name, co.email
    FROM campaign AS ca
    JOIN contacts AS co
    ON ca.contact_id = co.contact_id
    WHERE ca.outcome = 'live';
    """
with engine.connect() as connection:
    connection.execute(text(query3))

# Alter the table and add a new column
alter_query3 = """
    ALTER TABLE notsorted_contacts_remaining_goal_amount
    ADD COLUMN remaining_goal_amount NUMERIC;
    """
with engine.connect() as connection:
    connection.execute(text(alter_query3))

# Update the values in the new column
update_query3 = """
    UPDATE notsorted_contacts_remaining_goal_amount
    SET remaining_goal_amount = goal - pledged;
    """
with engine.connect() as connection:
    connection.execute(text(update_query3))

# Create the email_contacts_remaining_goal_amount table
create_table_query4 = """
    CREATE TABLE email_contacts_remaining_goal_amount (
        email VARCHAR(255),
        first_name VARCHAR(255),
        last_name VARCHAR(255),
        remaining_goal_amount NUMERIC
    );
"""
with engine.connect() as connection:
    connection.execute(text(create_table_query4))

# Execute the fourth query
query4 = """
    INSERT INTO email_contacts_remaining_goal_amount (email, first_name, last_name, remaining_goal_amount)
    SELECT first_name, last_name, email, remaining_goal_amount
    FROM notsorted_contacts_remaining_goal_amount
    ORDER BY remaining_goal_amount DESC;
    """
with engine.connect() as connection:
    connection.execute(text(query4))

# Create the notsorted_backers_remaining_goal_amount table
create_table_query5 = """
    CREATE TABLE notsorted_backers_remaining_goal_amount (
        email VARCHAR(255),
        first_name VARCHAR(255),
        last_name VARCHAR(255),
        cf_id INTEGER,
        company_name VARCHAR(255),
        description TEXT,
        end_date TEXT,
        goal NUMERIC,
        pledged NUMERIC
    );
"""
with engine.connect() as connection:
    connection.execute(text(create_table_query5))

# Execute the fifth query
query5 = """
    INSERT INTO notsorted_backers_remaining_goal_amount (email, first_name, last_name, cf_id, company_name, description, end_date, goal, pledged)
    SELECT b.email, b.first_name, b.last_name, b.cf_id, c.company_name, c.description, c.end_date, c.goal, c.pledged
    FROM backers AS b
    JOIN campaign AS c
    ON b.cf_id = c.cf_id;
    """
with engine.connect() as connection:
    connection.execute(text(query5))

# Alter the table and add a new column
alter_query4 = """
    ALTER TABLE notsorted_backers_remaining_goal_amount
    ADD COLUMN left_of_goal NUMERIC;
    """
with engine.connect() as connection:
    connection.execute(text(alter_query4))

# Update the values in the new column
update_query4 = """
    UPDATE notsorted_backers_remaining_goal_amount
    SET left_of_goal = goal - pledged;
    """
with engine.connect() as connection:
    connection.execute(text(update_query4))

# Create the email_backers_remaining_goal_amount table
create_table_query6 = """
    CREATE TABLE email_backers_remaining_goal_amount (
        email VARCHAR(255),
        first_name VARCHAR(255),
        last_name VARCHAR(255),
        cf_id INTEGER,
        company_name VARCHAR(255),
        description TEXT,
        end_date TEXT,
        left_of_goal NUMERIC
    );
"""
with engine.connect() as connection:
    connection.execute(text(create_table_query6))

# Execute the sixth query
query6 = """
    INSERT INTO email_backers_remaining_goal_amount (email, first_name, last_name, cf_id, company_name, description, end_date, left_of_goal)
    SELECT email, first_name, last_name, cf_id, company_name, description, end_date, left_of_goal
    FROM notsorted_backers_remaining_goal_amount
    ORDER BY email DESC;
    """
with engine.connect() as connection:
    connection.execute(text(query6))

In [56]:
# Pull The tables created from Postgres SQL into python
import pandas as pd
from sqlalchemy import create_engine, Table, MetaData, inspect
# create a metadata object
metadata = MetaData()
# get a list of all table names in the database
inspector = inspect(engine)
table_names = inspector.get_table_names()
already_created_tables = [x for x in dataframe_dict.keys()]
import_list = [x for x in table_names if x not in already_created_tables]
# create an empty dictionary to store the DataFrames for each table
dfs_SQL_to_python = {}
# iterate over the table names, reflect each table, read the data, and store it in a DataFrame
for table_name in import_list:
    # reflect the table from the database
    table = Table(table_name, metadata, autoload=True, autoload_with=engine)
    # execute a SELECT statement to retrieve all rows from the table
    with engine.connect() as conn:
        result = conn.execute(table.select())
        # create a Pandas DataFrame from the results
        df = pd.DataFrame(result.fetchall(), columns=result.keys())
        # store the DataFrame in the dictionary
        dfs_SQL_to_python[table_name] = df

In [57]:
# Delete the extra created tables from the raw database

# Connect to the database
with engine.connect() as connection:
    # Iterate over the table names
    for table_name in import_list:
        # Generate the DROP TABLE query
        drop_table_query = f"DROP TABLE IF EXISTS {table_name};"
        
        # Execute the DROP TABLE query
        connection.execute(drop_table_query)

print("Tables deleted successfully.")

Tables deleted successfully.

In [58]:
dfs_SQL_to_python.keys()

dict_keys(['campaign_backers', 'backers_count', 'notsorted_contacts_remaining_goal_amount', 'email_contacts_remaining_goal_amount', 'notsorted_backers_remaining_goal_amount', 'email_backers_remaining_goal_amount'])

In [59]:
# Transfer the new tables to the data wearhouse
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/DataWareHouse')

# This cell automates database schema generation and inserts data into a postgres SQL database
#Loop through each file in dataframe_dict
for file_name, df in dfs_SQL_to_python.items():
    # Check if 'df' is empty
    if df.empty:
        continue

    # CLEANING
    df.columns = df.columns.to_series().apply(lambda x: x.strip().lower())
    #df.columns = df.columns.str.replace("[-\s\:]+", "_", regex=True)

    # CREATE DATABASE TABLE
    # Determine the data type of each column
    dtype_dict = {}
    for col in df.columns:
        if df[col].dtype == "int":
            dtype_dict[col] = "INTEGER"
        elif df[col].dtype == "float":
            dtype_dict[col] = "FLOAT"
        else:
            dtype_dict[col] = "TEXT"

    # Create SQL query to create the database table
    query = f"CREATE TABLE IF NOT EXISTS {file_name.split('.')[0]} ("
    for col in df.columns:
        query += f"{col} {dtype_dict[col]}, "
    query = query[:-2] + ");"

    # Execute SQL query to create the database table
    with engine.connect() as conn:
        conn.execute(query)

    # INSERT DATA INTO DATABASE TABLE
    try:
        df.to_sql(file_name.split('.')[0], engine, if_exists="append", index=False)
    except IntegrityError as e:
        print(f"Error inserting data into table {file_name.split('.')[0]}: {e}")
        continue